<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <title>Websocket Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vue-front</title>
    <script src="/webjars/vue/2.5.16/vue.min.js"></script>
    <script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
    <script src="/webjars/sockjs-client/1.1.2/dist/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
    <script src="https://kit.fontawesome.com/5cc62c0807.js" crossorigin="anonymous"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!-- <script src="/webjars/vue/2.5.16/vue.min.js"></script>
    <script src="/webjars/axios/0.17.1/dist/axios.min.js"></script> -->
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>